<div class="main-router-outlet-container">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div>
                <img class="logo" src="../assets/images/amrr-logo.jpg" alt="company-logo">
            </div>
            <div class="welcome-message center-align dp">
                <h3>Welcome, {{authService.getUserName()}}!</h3>
            </div>
            <div class="menu-container">
                <a [routerLink]="['register']">
                    <div class="menu-link" routerLinkActive="route-active">
                        <span class="ml-icon">
                            <mat-icon aria-hidden="false" aria-label="Attendance Register"
                                fontIcon="how_to_reg"></mat-icon>
                        </span>
                        <span class="ml-text">Attendance</span>
                    </div>
                </a>
                <a *ngIf="authService.isLoggedInUserAdmin()" [routerLink]="['payslip']">
                    <div class="menu-link" routerLinkActive="route-active">
                        <span class="ml-icon">
                            <mat-icon aria-hidden="false" aria-label="Payslip" fontIcon="currency_rupee"></mat-icon>
                        </span>
                        <span class="ml-text">Payslip</span>
                    </div>
                </a>
                <a *ngIf="authService.isLoggedInUserAdmin()" [routerLink]="['salaryAdvance']">
                    <div class="menu-link" routerLinkActive="route-active">
                        <span class="ml-icon">
                            <mat-icon aria-hidden="false" aria-label="Payslip" fontIcon="payments"></mat-icon>
                        </span>
                        <span class="ml-text">Salary Advances</span>
                    </div>
                </a>
                <mat-expansion-panel *ngIf="authService.isLoggedInUserAdmin()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon aria-hidden="false" aria-label="Settings and master data"
                                fontIcon="settings"></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            Control Panel
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list>
                        <a [routerLink]="['user']">
                            <mat-list-item role="listitem" routerLinkActive="route-active">User</mat-list-item>
                        </a>
                        <a [routerLink]="['company']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Company</mat-list-item>
                        </a>
                        <a [routerLink]="['unit']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Unit</mat-list-item>
                        </a>
                        <a [routerLink]="['employee']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Employee</mat-list-item>
                        </a>
                        <a [routerLink]="['holiday']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Company Holidays</mat-list-item>
                        </a>
                        <a [routerLink]="['bonus']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Bonus</mat-list-item>
                        </a>
                        <a [routerLink]="['changePassword']"><mat-list-item role="listitem"
                                routerLinkActive="route-active">Change Password</mat-list-item></a>
                    </mat-selection-list>
                </mat-expansion-panel>
                <a href="javascript: void()" (click)="logOut()">
                    <div class="menu-link" routerLinkActive="route-active">
                        <span class="ml-icon">
                            <mat-icon aria-hidden="false" aria-label="Payslip" fontIcon="logout"></mat-icon>
                        </span>
                        <span class="ml-text">Logout</span>
                    </div>
                </a>
            </div>
        </mat-drawer>
        <div style="position: sticky;        top: 0;        z-index: 999;">
            <mat-toolbar style="z-index:999">
                <mat-icon aria-hidden="false" aria-label="Toggle side menu" fontIcon="menu"
                    (click)="drawer.toggle()"></mat-icon>
            </mat-toolbar>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-container>
</div>