<div style="width: 30vw">
    <h2 mat-dialog-title>
        {{
        formService.data && formService.data.id !== null
        ? 'Edit Company'
        : 'New Company' }}
    </h2>
    <div style="padding: 15px !important" mat-dialog-content>
        <form *ngIf="formService.form" [formGroup]="formService.form" autocomplete="off">
            <div>
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput [formControl]="formService.form.controls.name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Address Line 1</mat-label>
                    <input matInput type="text" [formControl]="formService.form.controls.addressLine1">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Address Line 2</mat-label>
                    <input matInput type="text" [formControl]="formService.form.controls.addressLine2">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Address Line 3</mat-label>
                    <input matInput type="text" [formControl]="formService.form.controls.addressLine3">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Postal Code</mat-label>
                    <input matInput type="text" [formControl]="formService.form.controls.postalCode">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>GST #</mat-label>
                    <input matInput [formControl]="formService.form.controls.gstNo">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="formService.form.controls.email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput type="number" [formControl]="formService.form.controls.phone">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <mat-divider></mat-divider>
        <div style="width: 100%;        display: flex;        justify-content: end;">
            <button mat-flat-button color="primary" (click)="formService.addCompany()">Save</button>
            <button mat-flat-button color="secondary" (click)="formService.cancel()">Close</button>
        </div>
    </div>
</div>