<app-crud-browser [entityEndpoint]="'employee'" [entityName]="'Employee'" [columns]="columns"
    [formTemplate]="formTemplate" [form]="form" [isCustomEditHandler]="true" [editorWidth]="'70vw'"
    (onSave)="onSave($event)" (onEdit)="onEdit($event)">
</app-crud-browser>

<ng-template #formTemplate>
    <form [formGroup]="form" autocomplete="off">
        <div class="flex-horizontal">
            <div class="personal-info">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput [formControl]="form.controls.firstName" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput [formControl]="form.controls.lastName" required>
                </mat-form-field>
                <div style="margin-top: 15px">
                    <mat-slide-toggle class="example-margin" [formControl]="form.controls.isActive">
                        Is Active <sup>*</sup>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="flex-vertical second-row" style="justify-content: space-around; flex-wrap: wrap;">
            <div class="account-info">
                <h3>Job Position</h3>
                <app-amrr-select-with-search [title]="'Unit'" [ctrl]="form.controls.unit"
                    [options]="units"></app-amrr-select-with-search>
                <div class="flex-vertical">
                    <mat-form-field>
                        <mat-label>Designation</mat-label>
                        <input matInput [formControl]="form.controls.designation" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date of Joining</mat-label>
                        <input matInput formControlName="dateOfJoining" [matDatepicker]="fromDatePicker">
                        <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromDatePicker> </mat-datepicker>
                    </mat-form-field>
                </div>
                <h3>Credentials Info</h3>
                <mat-form-field>
                    <mat-label>UAN #</mat-label>
                    <input matInput type="text" [formControl]="form.controls.uanNo">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>ESI #</mat-label>
                    <input matInput type="text" [formControl]="form.controls.esiNo">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Aadhar #</mat-label>
                    <input matInput type="text" [formControl]="form.controls.aadharNo">
                </mat-form-field>
            </div>
            <div class="bank-info">
                <h3>Salary Info</h3>
                <div style="margin: 15px 0">
                    <mat-radio-group aria-label="Select an option" formControlName="payCycleTypeId" required>
                        <mat-radio-button [color]="'primary'" value="1"
                            [checked]="form.controls.payCycleTypeId.value === 1">Monthly</mat-radio-button>
                        <mat-radio-button [color]="'accent'" value="3"
                            [checked]="form.controls.payCycleTypeId.value === 3">Daily</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="form.controls.payCycleTypeId.touched && form.controls.payCycleTypeId.invalid">This
                        field is required</mat-error>
                </div>
                <div class="flex-vertical">
                    <mat-form-field>
                        <mat-label>Salary</mat-label>
                        <input matInput type="number" [formControl]="form.controls.salary" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>HRA</mat-label>
                        <input matInput type="number" [formControl]="form.controls.hra" required>
                    </mat-form-field>
                </div>
                <div class="bank-details">
                    <h3>Bank Info</h3>
                    <mat-form-field>
                        <mat-label>Account Number</mat-label>
                        <input matInput type="text" [formControl]="form.controls.accountNumber">
                    </mat-form-field>
                    <div class="flex-vertical">
                        <mat-form-field>
                            <mat-label>IFSC</mat-label>
                            <input matInput type="text" [formControl]="form.controls.ifsc">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Branch Location</mat-label>
                            <input matInput type="text" [formControl]="form.controls.branchLocation">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <h3>Contact Info</h3>
                <mat-form-field>
                    <mat-label>Address Line 1</mat-label>
                    <input matInput type="text" [formControl]="form.controls.addressLine1">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address Line 2</mat-label>
                    <input matInput type="text" [formControl]="form.controls.addressLine2">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address Line 3</mat-label>
                    <input matInput type="text" [formControl]="form.controls.addressLine3">
                </mat-form-field>
                <div class="flex-vertical">
                    <mat-form-field>
                        <mat-label>Postal Code</mat-label>
                        <input matInput type="text" [formControl]="form.controls.postalCode">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput type="number" [formControl]="form.controls.phoneNumber">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="form.controls.emailAddress">
                </mat-form-field>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #salaryTemplate let-row="row">
    <div>
        Hi frm template
    </div>
</ng-template>