<div class="df">
    <app-amrr-page-header [title]="'Payslip'" [actionName]="''"></app-amrr-page-header>
    <div class="grid-container">
        <div style="padding-top: 15px">
            <div *ngIf="!browserService.form" class="center-align">
                <mat-spinner></mat-spinner>
            </div>
            <form *ngIf="browserService.form" [formGroup]="browserService.form" autocomplete="off">
                <div class="filters-form-container">
                    <div>
                        <mat-form-field [style.width.px]="212">
                            <mat-label>Month</mat-label>
                            <input #dpInput matInput [matDatepicker]="dp" placeholder="Payslip Month"
                                formControlName="month">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp (monthSelected)="browserService.monthSelected($event, dp, dpInput)"
                                startView="multi-year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <app-amrr-select-with-search [title]="'Company'" [ctrl]="browserService.form.controls.company"
                            [options]="browserService.companies"></app-amrr-select-with-search>
                        <app-amrr-select-with-search [title]="'Unit'" [ctrl]="browserService.form.controls.unit"
                            [options]="browserService.filteredUnits"></app-amrr-select-with-search>
                        <app-amrr-select-with-search [title]="'Employee'" [ctrl]="browserService.form.controls.employee"
                            [options]="browserService.employees"></app-amrr-select-with-search>
                    </div>
                    <div class="action-container">
                        <button mat-flat-button color="primary" (click)="browserService.onViewClicked()">View</button>
                        <button mat-flat-button color="primary" (click)="browserService.navigateToBonusBrowser()">Add
                            Bonus</button>
                        <button mat-flat-button color="primary" (click)="browserService.generatePayslips()">Generate
                            Payslips</button>
                        <button mat-flat-button color="primary"
                            [disabled]="browserService.dataSource && browserService.dataSource.data.length <= 0"
                            (click)="browserService.printPayslips()">Print Payslips</button>
                        <button mat-flat-button color="primary"
                            [disabled]="browserService.dataSource && browserService.dataSource.data.length <= 0"
                            (click)="browserService.printBankDetails()">Print Bank Info</button>
                        <mat-spinner *ngIf="browserService.actionLoading" [diameter]="30"></mat-spinner>
                    </div>
                </div>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="esi-metrics-container">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{browserService.getESITotal()}}</mat-card-title>
                </mat-card-header>
                <div class="esi-title"> ESI <mat-icon aria-hidden="false" aria-label="Payslip"
                        fontIcon="currency_rupee"></mat-icon>
                </div>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{browserService.getPFTotal()}}</mat-card-title>
                </mat-card-header>
                <div class="esi-title"> PF <mat-icon aria-hidden="false" aria-label="Payslip"
                        fontIcon="currency_rupee"></mat-icon>
                </div>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <app-ammr-grid [columns]="browserService.columns" [dataSource]="browserService.dataSource"
            [loading]="browserService.loading" [readOnly]="true"></app-ammr-grid>
    </div>
</div>