.allowance-editor-container {
  padding: 15px;
  background-color: #f4f6f9;
}

.form-field-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.text-orange {
  color: orangered;
}

.amrr-table-container {
  max-height: calc(100vh - 350px);
}
