<div style="padding-top: 15px">
    <div *ngIf="!form" class="center-align">
        <mat-spinner></mat-spinner>
    </div>
    <form *ngIf="form" [formGroup]="form" autocomplete="off">
        <div class="filters-form-container">
            <div>
                <mat-form-field [style.width.px]="212">
                    <mat-label>From Date</mat-label>
                    <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker">
                    <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker> </mat-datepicker>
                </mat-form-field>
                <mat-form-field [style.width.px]="212">
                    <mat-label>To Date</mat-label>
                    <input matInput formControlName="toDate" [matDatepicker]="toDatePicker">
                    <mat-datepicker-toggle matIconSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatePicker> </mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <app-amrr-select-with-search [title]="'Company'" [ctrl]="form.controls.company"
                    [options]="companies"></app-amrr-select-with-search>
                <app-amrr-select-with-search [title]="'Unit'" [ctrl]="form.controls.unit"
                    [options]="filteredUnits"></app-amrr-select-with-search>
                <app-amrr-select-with-search [title]="'Employee'" [ctrl]="form.controls.employee"
                    [options]="employees"></app-amrr-select-with-search>
            </div>
            <div class="action-container">
                <button mat-flat-button color="primary" (click)="onView()">View</button>
            </div>
        </div>
    </form>
</div>