.form-container {
  justify-content: center;
  display: flex;
  gap: 15px;
}

.attendance-status-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.attendance-table-container {
  margin: 15px;
}

.filter-panel {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.flex-horizontal {
  display: flex;
  gap: 15px;
  align-items: center;
}

.flex-horizontal h3 {
  margin: 0;
}
