<div style="padding: 15px">
    <app-amrr-page-header [title]="'Attendance Entry'" [actionName]="''"></app-amrr-page-header>
</div>
<div class="filter-panel">
    <form class="form-container" style="padding: 0 !important" *ngIf="formService.form" [formGroup]="formService.form"
        autocomplete="off">
        <mat-form-field [style.width.px]="212">
            <mat-label>From Date</mat-label>
            <input matInput formControlName="attendanceDate" [matDatepicker]="fromDatePicker">
            <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker> </mat-datepicker>
        </mat-form-field>
        <div style="display: inline-block">
            <app-amrr-select-with-search [title]="'Unit'" [ctrl]="formService.form.controls.unitId"
                [options]="formService.units"></app-amrr-select-with-search>
        </div>
        <button mat-flat-button color="primary" (click)="formService.getAttendanceGridData()">View</button>
    </form>
    <div *ngIf="formService.dataSource?.data" class="attendance-status-info">
        <span> Attendance Date: {{formService.queriedDate | date}}</span>
        <button mat-stroked-button [matBadge]="formService.getUnMarkedCount()" matBadgeColor="primary" color="primary">
            Unmarked </button>
        <button mat-stroked-button [matBadge]="formService.getEmployeeCount(statusEnum.Present)" matBadgeColor="primary"
            color="primary"> Present </button>
        <button mat-stroked-button [matBadge]="formService.getEmployeeCount(statusEnum.Absent)" matBadgeColor="warn"
            color="warn"> Absent </button>
        <button mat-stroked-button [matBadge]="formService.getEmployeeCount(statusEnum.HalfDay)" matBadgeColor="accent"
            color="accent"> Half-Day </button>
    </div>
</div>
<div *ngIf="formService.dataSource?.data; else noRegisterFound">
    <div class="grid-container" style="margin: 15px 15px 90px 15px !important;">
        <app-ammr-grid [columns]="formService.columns" [dataSource]="formService.dataSource"
            [loading]="formService.loading" [readOnly]="true" [maxHeight]="'50vh'"></app-ammr-grid>
    </div>

    <div class="footer">
        <app-amrr-action-row [loading]="formService.saving" (add)="formService.addAttendance()"
            (addAndClose)="formService.addAttendanceAndClose()" (close)="formService.cancel()"></app-amrr-action-row>
    </div>
</div>
<ng-template #noRegisterFound>
    <div style="display: flex; justify-content: center; align-items:center; height: 52vh;">
        No Register found
    </div>
</ng-template>

<ng-template #statusTemplate let-row="row">
    <div *ngIf="row.payCycleTypeId === 1; else dailyWageTemplate">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="row.status">
            <mat-radio-button [color]="'primary'" [value]="1">Present</mat-radio-button>
            <mat-radio-button [color]="'warn'" [value]="2">Absent</mat-radio-button>
            <mat-radio-button [color]="'accent'" [value]="3">Half Day</mat-radio-button>
        </mat-radio-group>
    </div>
    <ng-template #dailyWageTemplate>
        <div class="flex-horizontal">
            <div class="flex-horizontal" *ngIf="row.status !== statusEnum.Absent">
                <h3>In time :</h3>
                <ngx-timepicker-field (timeChanged)="formService.inTimeChanged($event, row)"
                    [(ngModel)]="row.inTime"></ngx-timepicker-field>
                <h3>Out time :</h3>
                <ngx-timepicker-field (timeChanged)="formService.outTimeChanged($event,row)"
                    [(ngModel)]="row.outTime"></ngx-timepicker-field>
                <span><a href="javascript:void(0);" (click)="formService.resetTimePicker(row)">Reset</a></span>
            </div>
            <span><mat-checkbox [checked]="row.status === statusEnum.Absent"
                    (change)="formService.onAbsentCheckBoxChanged($event, row)">Absent</mat-checkbox></span>
        </div>
        <mat-error *ngIf="formService.isTimeRangeInvalid(row)">
            Invalid time selection
        </mat-error>
    </ng-template>
</ng-template>